header {
    background-color: #f5f5f5;
}

#headerNav {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid var(--color1);
}

#headerNavWrapper {
    width: 100%;
    max-width: var(--maxwidth);
}

#headerHomeLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--colorText);
    margin: var(--s2) var(--s0);
}

#headerSiteTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 0 var(--s2);
}

#headerHomeLink img {
    width: 3rem;
    height: 3rem;
    padding: 0 0 var(--s1) 0;
    border-bottom: 3px solid var(--color1);
}

#headerMenu {
    margin-bottom: var(--s2);
}

#headerMenu a {
    color: var(--colorText);
    margin: var(--s0) var(--s2);
    padding: var(--s1) var(--s2) var(--s2);
    text-decoration: none;
    position: relative;
    z-index: 1;

    transition: color 100ms ease-out;
}

#headerMenu a:hover {
    color: white;
}

#headerMenu a::after {
    content: "";
    background-color: var(--color1);
    position: absolute;
    inset: 100% 0 0 0;

    transition: inset 250ms ease-out;
}

#headerMenu a:hover::after {
    content: "";
    background-color: var(--color1);
    position: absolute;
    z-index: -1;
    inset: 0;
}

#headerMenu a:first-child {
    margin: var(--s0) var(--s2) var(--s0) var(--s0);
}